{{#if (json_schema__could_be_of_type 'array')}}

    {{#if uniqueItems}}
        {{#>json-schema/util/section sections='uniqueItems' title='Array items must be unique'}}
        {{/json-schema/util/section}}
    {{/if}}

    {{#with (json_schema__array_length .) as | text |}}
        {{#if text}}
            {{#>json-schema/util/section sections='minItems, maxItems' title='Number of array items'}}
                {{text}}
            {{/json-schema/util/section}}
        {{/if}}
    {{/with}}


    {{#if items}}
        {{#if (json_schema__is_array items)}}
            {{#>json-schema/util/section sections='items' title='Specific item types per array index'}}
                {{#each items}}
                    <div class="json-schema--subschema">
                        <div class="json-schema--subschema-header">at index {{@index}}</div>
                        {{>json-schema/schema .}}
                    </div>
                {{/each}}
            {{/json-schema/util/section}}

            {{#if additionalItems}}
                {{#>json-schema/util/section sections='additionalItems' title='Additional items must match'}}
                    <div class="json-schema--subschema">
                        {{>json-schema/schema additionalItems}}
                    </div>
                {{/json-schema/util/section}}
            {{/if}}
        {{else}}
            {{#if items}}
                {{#>json-schema/util/section sections='items' title='All items must match'}}
                    <div class="json-schema--subschema">
                        {{>json-schema/schema items}}
                    </div>
                {{/json-schema/util/section}}
            {{/if}}
        {{/if}}
    {{/if}}

    {{#if contains}}
        {{#>json-schema/util/section sections='contains' title='At least one item must match'}}
            <div class="json-schema--subschema">
                {{>json-schema/schema contains}}
            </div>
        {{/json-schema/util/section}}
    {{/if}}

{{/if}}
