{{#if oneOf}}
    {{#>json-schema/util/section sections='oneOf' title='Must match exactly one of the following schemas'}}
        {{#each oneOf}}
            <div class="json-schema--subschema">
                {{>json-schema/schema .}}
            </div>
        {{/each}}
    {{/json-schema/util/section}}
{{/if}}
