{{!--
    Renders a json-schema. This is the entry-point of the schema.
    @this {object} the json-schema
--}}
<div class="json-schema--schema">
    {{>json-schema/type .}}
    {{>json-schema/string .}}
    {{>json-schema/number .}}
    {{>json-schema/object .}}
    {{#if enum}}
        <dd>Allowed values (enum)</dd>
        <dt data-schema-property="enum">
        <ul class="list-inline">
            {{#each enum}}
                <li>{{json . space=0}}</li>
            {{/each}}
        </ul>
        </dt>
    {{/if}}
    {{#if (json_schema__could_be_of_type 'array')}}
        {{> json-schema/array .}}
    {{/if}}
</div>