@import "labels.less";
@import "panels.less";
@import "wells.less";


.panel-definition {
  .panel-variant(@definition-panel-border-color, @definition-panel-header-text-color, @definition-panel-header-bg-color, @definition-panel-border-color);
}


.json-schema--subschema {
  .well();

  &-header {
    margin-top: -19px;
    margin-left: -19px;
    margin-bottom: 10px;
    margin-right: -19px;
    padding: 2px;
    border: 1px solid @well-border;
    border-radius: @border-radius-base;
  }

  .json-schema--required {
    .label();
    .label-default();
  }
}

.json-schema--schema {
  section {
    .make-row();

    > .header, > .contents {
      padding: 0.25em;
    }

    > .header {
      .make-md-column(2);
    }

    > .contents {
      .make-md-column(10);
    }
  }
}

.json-schema--regex > b {
  font-weight: bolder;
  font-size: 120%;
  font-weight: 800;
  color: @text-color;
  padding: 0.25em;
  padding-right: 0.25em;
}
