{{!--
   Helper partial to render a restriction (array, numeric etc).
   Use as block-partial

   @param {string} title a title for the restrictions
--}}
<section class="json-schena--section">
    <div class="header">{{title}}</div>
    <div class="contents">{{>@partial-block}}</div>
</section>
